<div
  class="w-full h-[580px] bg-[url('/img/AirpodsPro.jpg')] bg-cover bg-center relative mt-2"
>
  <div class="absolute inset-0 flex flex-col items-center mt-7 text-black">
    <h1 class="text-4xl font-semibold">AirPods Pro 3</h1>
    <p class="mt-2 text-lg text-center">
      Los auriculares in-ear con <br />la mejor cancelación activa <br /> de ruido
      del mundo.
    </p>
    <p class="mt-2 opacity-45">Disponible el 19/9</p>
    <div class="mt-4 space-x-4 flex">
      <a
        href="#"
        class="text-center w-42 p-2.5 rounded-full text-white bg-[#0171e3] hover:bg-blue-500"
        >Más información</a
      >
      <a
        href="#"
        class="p-2 text-center rounded-full w-30 bg-transparent border hover:text-white text-blue-400 border-blue-400 hover:bg-blue-500"
        >Reservar</a
      >
    </div>
  </div>
</div>
