<div
  class="w-full h-[580px] bg-[url('img/iphone_tradeIn.jpg')] bg-cover bg-center relative"
>
  <div class="absolute inset-0 flex flex-col items-center mt-8 text-black">
    <div class="flex">
      <img src="Apple_logo_black.svg" class="w-8 h-10" alt="" />
      <h1 class="text-4xl">
        Trade In
      </h1>
    </div>
    <p class="mt-2 text-lg text-center">LLevate entre 180€ y 795€ <br> de descuento al entregar <br> un iPhone 13 o posterior.
    </p>
    <p class="mt-2 opacity-45">Disponible el 19/9</p>
    <div class="mt-4 space-x-4 flex">
      <a
        href="#"
        class="text-center w-42 p-2.5 rounded-full text-white bg-[#0171e3] hover:bg-blue-500"
        >Ver estimación</a
      >
    </div>
  </div>
</div>
