<div
  class="w-full h-[580px] bg-[url('/img/watchSE.jpg')] bg-cover bg-center relative"
>
  <div class="absolute inset-0 flex flex-col items-center mt-94 text-black">
    <div class="flex">
      <img src="Apple_logo_black.svg" class="w-8 h-10" alt="" />
      <h1 class="text-4xl">
        <strong>WATCH</strong> SE 3
      </h1>
    </div>
    <p class="mt-2 text-lg text-center">
      Te motiva. Te conoce. Te conecta. Te encanta.
    </p>
    <p class="mt-2 opacity-45">Disponible el 19/9</p>
    <div class="mt-4 space-x-4 flex">
      <a
        href="#"
        class="text-center w-42 p-2.5 rounded-full text-white bg-[#0171e3] hover:bg-blue-500"
        >Más información</a
      >
      <a
        href="#"
        class="p-2 text-center rounded-full w-30 bg-transparent border hover:text-white text-blue-400 border-blue-400 hover:bg-blue-500"
        >Reservar</a
      >
    </div>
  </div>
</div>
